<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/header.css">
        <link rel="stylesheet" type="text/css" href="/main.css">

    </head>
    <%- include('header.ejs') %>
    <body>
        <ol class="list">
            <h1>Список автомобилей</h1>
            <% 
                let i = 0;
                let type ="";
                cars.forEach(function(car){ 
                    if (car.engine == "Бензин"){
                        type = "gas";
                    }
                    if (car.engine == "Электро"){
                        type = "electro";
                    }
                    if (car.engine == "Гибрид"){
                        type = "hybrid";
                    }
                    if (car.engine == "Дизель"){
                        type = "diesel";
                    }
                                    
                    let urlGet = `info?id=${i}`; 
            %>
                <li class="<%=`${type}` %>" onclick=<%= `document.location.href=\"${urlGet}\"` %>> <%= car.brand + ' ' + car.model %> </li>
            <%
                i++;
                }); 
            %>
        </ol>
        
    </body>
</html>