<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="/header.css">
        <link rel="stylesheet" type="text/css" href="/delete.css">
    </head> 
    <%- include('header.ejs') %>
    <body>  
        <% if (car) { %>
        <form class="detele_form" action="/delete" method="POST">
            <h1 class="title">Удаление автомобиля: <%= car.brand + ' ' + car.model %></h1>
            <button type="submit" class="button">Удалить</button>
        </form>
        <% } %>
    </body>
</html>