<header>
  <h1 class="name" onclick=<%= `document.location.href="/main"` %> >Автомобили</h1>
  <div class="button_list">
    <button type="button" onclick=<%= `document.location.href="/add"` %> >Добавить</button>
    <button type="button" onclick=<%= `document.location.href="/delete"` %> >Удалить</button>
    <button type="button" onclick=<%= `document.location.href="/edit"` %> >Изменить</button>
  </div>
</header>