* {
    box-sizing: border-box;
}
  
html, body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    height: 100%;
    vertical-align: middle;
    font: 20px "Trebuchet MS", "Lucida Sans";
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.info{
    list-style: none;
    text-align: center;
    margin: auto auto;
    width: 100%;
}

.zebra {
    list-style: none;
    padding: 0;
  }
  .zebra li {padding: 10px;}
  .zebra li:nth-child(odd) {background: #E1F1FF;}
  .zebra li:nth-child(even) {background: white;}

  .info img {
    width: 500px;
    height: 300px;
}